<!-- INICIA TABLA -->
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Edad</th>
                <th scope="col">Tipo</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of animalList; trackBy: trackById">
                <td>{{ item.nombre }}</td>
                <td>{{ item.edad }}</td>
                <td>{{ item.tipo }}</td>
                <td>{{ item.fecha | date }}</td> 
            </tr>
        </tbody>
    </table>
</div>
<!-- TERMINA TABLA -->